@typeparam TValue

@{
    var group = Group;
    var selected = group.IsSelected(Value);
    var isSegmented = group.IsSegmented;
    var indicatorIcon = GetIndicatorIcon(isSegmented, selected);
}

<button type="button"
        class="@BuildButtonClasses(selected, isSegmented)"
        tabindex="@group.GetTabIndex(this)"
        disabled="@(Disabled ? true : null)"
        @onclick="OnClick"
        @onkeydown="HandleKeyDownAsync"
        @onfocus="HandleFocus"
        @ref="_buttonRef"
        @attributes="BuildButtonAttributes(selected)">
    @if (ChildContent is not null)
    {
        @if (isSegmented)
        {
            <div class="halo-radio-button__segmented">
                <div class="halo-radio-button__child">@ChildContent</div>
                @if (indicatorIcon is not null)
                {
                    <HaloIcon Name="@indicatorIcon" Class="halo-radio-button__indicator" Decorative="true" />
                }
            </div>
        }
        else
        {
            @ChildContent
        }
    }
    else if (isSegmented)
    {
        <div class="halo-radio-button__segmented">
            <div class="halo-radio-button__content halo-radio-button__content--column">
                @if (Icon is not null)
                {
                    <HaloIcon Name="@Icon" Class="halo-radio-button__icon" Decorative="true" />
                }
                <span class="halo-radio-button__label">@GetDisplayLabel()</span>
                @if (!string.IsNullOrWhiteSpace(Description))
                {
                    <span class="halo-radio-button__description">@Description</span>
                }
                else if (Value is not null && string.IsNullOrWhiteSpace(Label))
                {
                    <span class="halo-radio-button__description">@Value</span>
                }
            </div>
            <div class="halo-radio-button__meta">
                @if (!string.IsNullOrWhiteSpace(Badge))
                {
                    <span class="halo-radio-button__badge">@Badge</span>
                }
                @if (indicatorIcon is not null)
                {
                    <HaloIcon Name="@indicatorIcon" Class="halo-radio-button__indicator" Decorative="true" />
                }
            </div>
        </div>
    }
    else
    {
        <div class="halo-radio-button__stack">
            @if (indicatorIcon is not null)
            {
                <HaloIcon Name="@indicatorIcon" Class="halo-radio-button__indicator" Decorative="true" />
            }
            @if (Icon is not null)
            {
                <HaloIcon Name="@Icon" Class="halo-radio-button__icon" Decorative="true" />
            }
            <div class="halo-radio-button__content">
                <span class="halo-radio-button__label">@GetDisplayLabel()</span>
                @if (!string.IsNullOrWhiteSpace(Description))
                {
                    <span class="halo-radio-button__description">@Description</span>
                }
            </div>
        </div>
    }
</button>
