<button type="@(Kind.ToString().ToLowerInvariant())"
        class="@BuildCssClass()"
        disabled="@(Disabled || Loading)"
        form="@Form"
        @onclick="Activated"
        @onclick:stopPropagation="StopClickPropagation"
        @attributes="BuildButtonAttributes()">
    @if (Loading)
    {
        <HaloIcon Name="@HaloMaterialIcons.Sync" Class="halo-button__icon halo-button__icon--spinner" Decorative="true" />

        @if (!IconOnly)
        {
            <span class="@GetLabelClass()">Processing...</span>
        }
    }
    else
    {
        @if (Icon is not null)
        {
            <HaloIcon Name="@Icon" Class="halo-button__icon" Decorative="true" />
        }
        @if (!IconOnly && ChildContent is not null)
        {
            <span class="@GetLabelClass()">@ChildContent</span>
        }
    }
</button>
